.currentGraphStyle {
    fill: #003E52;
    fill-opacity:0;
    stroke-width:2px;
    stroke: rgba(0, 62, 82, 0.6);
}

.voltageGraphStyle {
    fill: #003E52;
    fill-opacity:0;
    stroke-width:2px;
    stroke: rgba(0, 62, 82, 0.6);
}

.defaultGraphStyle {
    fill: #003E52;
    fill-opacity:0;
    stroke-width:2px;
    stroke: rgba(0, 62, 82, 0.6);
}

.switchStateGraphStyle {
    fill: #ff0000;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #ff0000;
}

.temperatureGraphStyle {
    fill: #003E52;
    fill-opacity:0;
    stroke-width:2px;
    stroke: rgba(0, 62, 82, 0.6);
}

.powerUsageGraphStyle {
    fill: #003E52;
    fill-opacity:0;
    stroke-width:2px;
    stroke: rgba(0, 62, 82, 0.6);
}